<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue-Document</title>
</head>
<body>
    <!--插值 view-->
    <div id="app">
        <div>
            <label>性别: </label>
            <span v-for="sex in sexList">
                <input type="radio" v-model="radioData" v-bind:value="sex.value">{{sex.text}}
            </span>
        </div>
        <div>
            <label>城市: </label>
            <select v-model="selectData">
                <option value="" disabled>请选择</option>
                <option v-for="city in cityList" v-bind:value="city.value">{{city.text}}</option>
            </select>
        </div>
        <div>
            <input type="checkbox" v-model="checkboxData" true-value="Y" false-value="N"> 是否同意该协议
        </div>
        <hr>
        性别: {{radioData}}
        <br>
        城市: {{selectData}}
        <br>
        同意: {{checkboxData}}
    </div>
    <script src="js/vue.js"></script>
    <script>
        let vbj = new Vue({
            el: '#app', //element
            data: {
                radioData: '',
                checkboxData: 'N',
                selectData: '',
                cityList:[{
                    text: '成都',
                    value: 'chengdu'
                },{
                    text: '重庆',
                    value: 'chongqing'
                }],
                sexList: [{
                    text: '男',
                    value: '0'
                },{
                    text:'女',
                    value: '1'
                }],
            },
            methods: {
                
            }
        })  //model
    </script>
</body>
</html>